Django==1.6.6
IPy==0.75
Markdown==2.4
MySQL-python==1.2.3
Pillow==2.2.1
PyGreSQL==4.1.1
SSSDConfig==1.11.6
South==0.8.4
backports.ssl-match-hostname==3.4.0.2
blivet==0.23.9
chardet==2.0.1
cssselect==0.9.1
cupshelpers==1.0
decorator==3.4.0
di==0.3
django-keyboard-shortcuts==0.0.7
django-markdown==0.5.4
fros==1.0
gps==3.9
gyp==0.1
iniparse==0.4
initial-setup==0.3.10.1
javapackages==1.0.0
kitchen==1.1.1
langtable==0.0.27
liveusb-creator==3.12.0
lockfile==0.9.1
lxml==3.3.6
ntplib==0.3.1
psycopg2==2.5.2
pycups==1.9.65
pycurl==7.19.3
pygobject==3.10.2
pygpgme==0.3
pykickstart==1.99.48
pyliblzma==0.5.3
pyparsing==2.0.1
pyparted==3.9
python-meh==0.27
python-nss==0.15.0
pytz==2012d
pyxattr==0.5.1
pyzmq==14.0.1
rpm-python==4.11.3
scdate==1.10.7
scsamba==1.2.100
scsamba.dbus==1.2.100
scservices==0.111.1
scservices.dbus==0.111.1
simplejson==3.5.3
simplemysql==0.9
six==1.7.3
slip==0.6.0
slip.dbus==0.6.0
slip.gtk==0.6.0
spambayes==1.1b1
urlgrabber==3.10.1
virtualenv==1.11.6
wsgiref==0.1.2
yum-langpacks==0.4.3
yum-metadata-parser==1.1.4
